/* Formatação geral */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    display: flex;
    justify-content: center;
    background-color: #caf283;
    padding-top: 5vh;
    align-items: center;
    min-height: 100vh;
}

.main{
	width: 350px;
	height: 400px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.conta-desativada{
    position: relative;
    width: 100%;
    height: 100%;
}

.imagens{
    height: 5%;
    padding: 5;
    margin: auto;
    display: block;

}

h2{
    color: black;
    margin: auto;
    font-size: 2em;
    text-align: center;
    margin: 50px;
    /*padding: 60px;*/
}

#voltar{
    color: black;
    margin: auto;
    font-size:15px;
    margin: 30px;
}


