/* Formatação geral */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    display: flex;
    justify-content: center;
    background-color: #caf283;
    padding-top: 5vh;
    align-items: center;
    min-height: 100vh;
}

.main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.desativar{
    position: relative;
    width: 100%;
    height: 100%;
}


label{
    justify-content: center;
    display: flex;
    margin: 20px;
    font-size: 1.6em;
    font-weight: bold;

}

input{
    width:70%;
    line-height: 30px; 
    display: flex;
    justify-content: center;
    margin: 2px auto;
    font-size: 12pt;
    padding: 3.5px 15px;
  }


/*::placeholder{
    font-size: 15px;
    padding: 5px;
    
}*/

.inputForm{
    border-radius:20px;
    border: none;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
 }

.imagens{
    height: 5%;
    padding: 5;
    margin: auto;
    display: block;

}

input[type=submit]{
    border-radius: 10px;
    border-color: gray;
    background-color: whitesmoke;
    width: 150px;
    cursor: pointer;
}


#voltar-config{
    font-size: 1em;
    color: brown;
    margin-left: 7px;
    margin-bottom: 7px;
    padding: 30px;
}

